*{
    margin: 0;
    padding: 0;
}
.menubar {
    font-family: sans-serif;
    background-color:rgb(128,128,128); 
    text-align: center;
}

.menubar ul{
    display: inline-flex;
    list-style: none;
}
.menubar ul li{
    font-size: 20px;
    width: 120px;
    margin: 10px;
    padding: 10px;
}
.menubar ul li a{
    text-decoration: none;
    color: white;
}
.menubar ul li:hover{
    background:#0000FF;
    border-radius: 3px;

}
.logo{
    background-color: blue;
   
}
.logo img{
    margin-left: 10px;
    padding-right: 50px;
}
.sidenav {
    font-family: sans-serif;
    background-color:rgb(128,128,128); 
    text-align: center;
    width: 220px;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;

}
  
  .sidenav a {
      font-family: sans-serif;
    padding: 6px 15px 15px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }
 
  .sidenav a:hover {
    background:#0000FF;
    border-radius: 3px;
    width: 185px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

