<div class="body">
        <div class="logo">
                <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                <img src="assets/images/naac.png" alt="naaclogo">
                <img src="assets/images/nba.png" alt="nbalogo">
                <img src="assets/images/nif.png" alt="niflogo">
                <img src="assets/images/mhrd.png" alt="mhrdlogo">
        </div>

        <div class="menubar">
                <ul class="tag">

                        <li>
                                <a routerLink="/home"> Home</a>
                        </li>
                        <li>
                                <a routerLink="/user/profile"> About Us</a>
                        </li>
                        <li>
                                <a routerLink="/user/viewfees">Fees</a>
                        </li>
                        <li>
                                <a routerLink="/user/displaybranch"> Admissions</a>
                        </li>
                        <li>
                                <a routerLink="/user/login">Login</a>
                        </li>
                        <li>
                                <a routerLink="/user/admin">Admin</a>
                        </li>
                        <li>
                                <a routerLink="/user/userprofile">User Profile</a>
                        </li>
                        <li>
                                <a routerLink="/contact">Contact</a>
                        </li>

                </ul>

        </div>

</div>