* {
    margin: 0;
    padding: 0;
}
.academicForm{
    background-image: url(image.jpg);
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
   
    text-align: center;
    text-decoration: underline;
}

.academicForm table {
    width: 550px;
    height: 580px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: auto;
    margin-top: 30px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
}

.submit {
    margin-top: 20px;
    text-align: center;
}

.academicForm input[type="submit"],
input[type="reset"] {
    border: none;
    outline: none;
    height: 30px;
    background:blue;
    color:white;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.submit input[type="submit"]:hover,
input[type="reset"]:hover {
    cursor: pointer;
    background: greenyellow;
    color: #000;
}