<app-header1></app-header1>
<div class="name">
    <strong id="userName"></strong>
    <h1>Personal-Information</h1>
    <form (ngSubmit)="personalInformation()">
        <table class="table" aria-describedby="mydesc">
            <tr>
                <th scope="col">
                    <label>First Name </label>
                </th>
                <td>
                    <input type="text" [(ngModel)]="firstName" name="firstName" id="firstName" placeholder="FirstName"
                        required autocomplete="off" autofocus>
                </td>
                <th scope="col">
                    <label>Last Name </label>
                </th>
                <td>
                    <input type="text" [(ngModel)]="lastName" name="lastName" id="lastName" placeholder="Lastname"
                        autocomplete="off" required>
                </td>
            </tr>
            <tr>
                <th scope="col">
                    <label>Father Name </label>
                </th>
                <td>
                    <input type="text" [(ngModel)]="fatherName" name="fatherName" id="fatherName"
                        placeholder="Fathername" autocomplete="off" required>
                </td>
                <th scope="col">
                    <label>Mother Name </label>
                </th>
                <td>
                    <input type="text" [(ngModel)]="motherName" name="motherName" id="motherName"
                        placeholder="Mothername" autocomplete="off" required>
                </td>
            </tr>
            <tr>
                <th scope="col">
                    <label>Date Of Birth </label>
                </th>
                <td>
                    <input type="date" [(ngModel)]="dob" name="dob" id="dob" placeholder="DOB" required>
                </td>
                <th scope="col">
                    Gender
                </th>
                <td>
                    <input type="radio" [(ngModel)]="gender" id="gender" name="gender" value="Male" required>Male
                    <input type="radio" [(ngModel)]="gender" id="gender" name="gender" value="Female" required>Female
                </td>
            </tr>
            <tr>
                <th scope="col">
                    <label>Communication-Address</label>
                </th>
                <td>
                    <textarea rows="4" cols="25" [(ngModel)]="communicationAddress" name="communicationAddress"
                        id="communicationAddress" placeholder="Address" autocomplete="off"></textarea>
                </td>
                <th scope="col">
                    <label>State </label>
                </th>
                <td>
                    <input type="radio" [(ngModel)]="state" id="state" name="state" value="TamilNadu">TamilNadu
                    <input type="radio" [(ngModel)]="state" id="state" name="state" value="Others">Others
                </td>
            </tr>
            <tr>
                <th scope="col">
                    <label>Same as Communication address</label>
                </th>
                <td>
                    <input type="checkbox" id="check" value="Same as Communication address">
                </td>
                <th scope="col">
                    <label>If Others</label>
                </th>
                <td>
                    <input type="text" placeholder="Enter State Name">
                </td>
            </tr>
            <tr>
                <th scope="col">
                    <label>Permanent Address </label>
                </th>
                <td>
                    <textarea rows="4" cols="25" [(ngModel)]="permanentAddress" name="permanentAddress"
                        id="permanentAddress" placeholder="Address" autocomplete="off" required></textarea>
                </td>
                <th scope="col">
                    <label>District *</label>
                </th>
                <td>
                    <select name="District" [(ngModel)]="district" id="district">
                        <option value="">--select--</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Salem">Salem</option>
                        <option value="Madurai">Madurai</option>
                        <option value="Coimbatore">Coimbatore</option>
                        <option value="Trichy">Trichy</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="col">
                    <label>Religion *</label>
                </th>
                <td>
                    <input type="radio" [(ngModel)]="religion" id="religion" name="Relogion" value="Hindu">Hindu
                    <input type="radio" [(ngModel)]="religion" id="religion" name="Relogion" value="Christian">Christian
                    <input type="radio" [(ngModel)]="religion" id="religion" name="Relogion" value="Muslim">Muslim
                </td>
                <th scope="col">
                    <label>Aadhar Number *</label>
                </th>
                <td>
                    <input type="number" [(ngModel)]="aadhar" id="aadhar" name="aadhar" minlength="12" maxlength="12"
                        placeholder="Enter aadhar number" autocomplete="off" required>
                </td>
            </tr>
        </table>
        <div class="submit">
            <input type="reset" id="submit" value="Reset">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" id="reset" value="Save&Continue">
        </div>

    </form>
</div>