<div class="addDepartment_Form">
    <form>
        <h2>Add-Departments</h2>
        <table aria-describedby="mydesc">
            <tr>
                <th scope="col"><label>Degree</label></th>
                <td><select name="degree" id="degree" [(ngModel)]="degree" autofocus required>
                        <option value="" disabled>--select--</option>
                        <option value="B.E">B.E</option>
                        <option value="B.TECH">B.TECH</option>
                        <option value="M.E">M.E</option>
                        <option value="M.TECH">M.TECH</option>
                    </select></td>
            </tr>
            <tr>
                <th scope="col">
                    <label>Branch</label>
                </th>
                <td>
                    <input type="text" [(ngModel)]="branch" name="branch" id="branch" placeholder="Enter Branch Name"
                        autocomplete="off" required>
                </td>
            </tr>
            <tr>
                <th scope="col">
                    <label>Total Seats</label>
                </th>
                <td>
                    <input type="text" [(ngModel)]="totalSeats" name="totalSeats" id="totalSeats"
                        placeholder="Enter total number of seats" autocomplete="off" required>
                </td>
            </tr>
            <tr>
                <th scope="col">
                    <label>Available Seats</label>
                </th>
                <td>
                    <input type="text" [(ngModel)]="availableSeats" name="availableSeats" id="availableSeats"
                        placeholder="Enter Available number of seats" autocomplete="off" required>
                </td>
            </tr>

        </table>
        <div class="submit">
            <button type="reset" id="submit" value="Reset">Reset</button>&nbsp;&nbsp;
            <button type="Submit" id="submit" (click)="addDepartment()" value="Submit">Submit</button>
        </div>
    </form>
</div>