<div class="body">
    <div class="logo">
        <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>

    </div>

    <div class="menubar">
        <ul class="tag">
            <li>
                <a routerLink="/addfees">Add-Fees</a>
            </li>
            <li>
                <a routerLink="/listfees">Update-Fees</a>
            </li>
            <li>
                <a routerLink="/addbranch">Add-Branch</a>
            </li>
            <li>
                <a routerLink="/deletebranch">Delete-Branch</a>
            </li>
            <li>
                <a routerLink="/listalluser">User-List</a>
            </li>
            <li>
                <a routerLink="/viewapplication">View-Application</a>
            </li>
            <!-- <li>
                <a>Welcome -{{loginData.adminEmail}} </a>
            </li> -->
            <li>
                <a routerLink="/logout">Logout</a>
            </li>
        </ul>

    </div>

</div>