<app-adminpanel></app-adminpanel>
<main>
    <div class="branch">
        <h2>Available-Branches</h2>
        <table border="1" aria-describedby="mydesc">
            <thead>
                <tr>
                    <th scope="col">Degree</th>
                    <th scope="col">Branch</th>
                    <th scope="col">Total No of Seats</th>
                    <th scope="col">Available Seats</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="programme" *ngFor="let branchObj of this.branchList;">
                <tr name="tablerow">
                    <td>{{branchObj.degree}}</td>
                    <td>{{branchObj.branch}}</td>
                    <td>{{branchObj.totalSeats}}</td>
                    <td>{{branchObj.availableSeats}}</td>
                    <td><button type='button' (click)="deleteFun(branchObj._id,branchObj._rev)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>