* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgoldenrodyellow;
}

label {
    margin-left: 10px;
    font-size: 20px;
}

.feesDetails {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 6%;
    border: 1px solid;
    padding: 10px;
    margin-left: 35%;
    margin-right: 35%;
    box-sizing: border-box;
}

input {
    background-color: #f2f2f2;
    border-radius: 5px;
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    border-radius: 5px;
    background-color: #ccc;
    text-align: center;
    margin-left: 85px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}