<div class="applicationList">
    <h1>Submitted-Applications</h1>
    <table datatable class="row-border hover" *ngIf="tableData">
        <thead>
            <tr>
                <th id="searchBar">Sno</th>
                <th id="searchBar">Applied-Date</th>
                <th id="searchBar">Name</th>
                <th id="searchBar">Branch</th>
                <th id="searchBar">Percentage</th>
                <th id="searchBar">Address</th>
                <th id="searchBar">Email-ID</th>
                <th id="searchBar">Status</th>
                <th id="searchBar">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let taskObj of tableData;let i=index;">
                <td>{{i+1}}</td>
                <td>{{taskObj.doc.appliedDate | date : "dd-mm-yyyy"}}</td>
                <td>{{taskObj.doc.name}}</td>
                <td>{{taskObj.doc.branch}}</td>
                <td>{{taskObj.doc.percentage}}</td>
                <td>{{taskObj.doc.district}}</td>
                <td>{{taskObj.doc.email}}</td>
                <td>{{taskObj.doc.status}}</td>
                <td>
                    <button type='button' (click)="updateStatus(taskObj.doc._id,'ACCEPTED',taskObj.doc.branch)">Accept
                    </button>
                    <button type='button'
                        (click)="updateStatus(taskObj.doc._id,'REJECTED',taskObj.doc.branch)">Reject</button>
                    <button type='button' (click)="deleteFun(taskObj.doc._id,taskObj.doc._rev)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>