* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    background-color: blue;
}

.searchBar {
    margin: auto;
    margin-top: 50px;
    width: 95%;
    border: 3px solid #73AD21;
    padding: 10px;
    font-family: sans-serif;
}

.searchBar table {
    margin: auto;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 3%;
    text-align: center;
}
.searchBar table th{
    background-color: slategray;
}
.searchBar table tr{
    height: 50px;
    text-align: center;
}

.searchBar input[type="text"]{
    margin-top: 40px;
    width: 60%;
    margin-left: 20%;
    height: 40px;
   margin-bottom: 20px;
   text-align: center;
   font-size: 30px;
   border-radius: 10px;
}
.searchBar button{
    background-color: cornflowerblue;
    color: white;
}
