<ngx-spinner></ngx-spinner>
<main>
    <div class="branch">
        <h2>Available-Branches</h2>
        <table border="1" aria-describedby="mydesc">
            <thead>
                <tr>
                    <th scope="col">S.NO</th>
                    <th scope="col">Degree</th>
                    <th scope="col">Branch</th>
                    <th scope="col">Total No of Seats</th>
                    <th scope="col">Available Seats</th>
                    <th scope="col">No of Students Applied</th>
                    <th scope="col">Apply</th>
                </tr>
            </thead>
            <tbody id="programme" *ngFor="let branchObj of this.branchList;let i=index;">
                <tr name="tablerow">
                    <td>{{i+1}}</td>
                    <td>{{branchObj.degree}}</td>
                    <td>{{branchObj.branch}}</td>
                    <td>{{branchObj.totalSeats}}</td>
                    <td>{{branchObj.availableSeats}}</td>
                    <td>{{branchObj.appliedSeats}}</td>
                    <td *ngIf="branchObj.totalSeats!=branchObj.appliedSeats"><button type='button'
                            (click)="applyFunction()" value="apply" id="apply">Click to Apply
                        </button>
                </tr>
            </tbody>
        </table>
    </div>
</main>