<app-header></app-header>
<main>
    <div class="branch">
        <h2>Available-Branches</h2>
        <table border="1" aria-describedby="mydesc">
            <thead>
                <tr>
                    <th id="searchBar">Degree</th>
                    <th id="searchBar">Branch</th>
                    <th id="searchBar">Total No of Seats</th>
                    <th id="searchBar">Available Seats</th>
                    <th id="searchBar">No of Students Applied</th>
                    <th id="searchBar">Apply</th>
                </tr>
            </thead>
            <tbody id="programme" *ngFor="let branchObj of this.branchList;">
                <tr name="tablerow">
                    <td>{{branchObj.degree}}</td>
                    <td>{{branchObj.branch}}</td>
                    <td>{{branchObj.totalSeats}}</td>
                    <td>{{branchObj.availableSeats}}</td>
                    <td>{{branchObj.appliedSeats}}</td>
                    <td *ngIf="branchObj.totalSeats!=branchObj.appliedSeats"><button type='button' (click)="applyFunction()" value="apply" id="apply">Click to Apply
                        </button>
                </tr>
            </tbody>
        </table>
    </div>
</main>