<div class="profilePage">
    <form action="homepage.html">
        <img class="background" src="assets/images/pro1.jfif" alt="Profile">

        <div class="profile">
            <h3>Quality Policy</h3>
            <br>
            <ul>
                <li>Innovative Teaching Learning Process</li>
                <br>
                <li>Accelerated Research</li>
                <br>
                <li>Practicing Moral and Ethical Values</li>
                <br>
            </ul>
            <br>

            <h3>Vision</h3>
            <br>
            <p>To produce Globally Competitive Engineers with High Ethical Values and Social Responsibility</p>
            <br>

            <h3>Mission</h3>
            <br>
            <ul>
                <li>To instill ethical values, imbibe a sense of social responsibility and strive for societal
                    wellbeing.</li>
                <br>
                <li>To identify needs of society and offer sustainable solutions through outreach programs.</li>
                <br>
            </ul>
        </div>
    </form>
</div>