<div class="updateFees">
    <form>
        
                <h1>Update-Fees</h1>
                <label>Admission Fees</label>
                <input type="number" id="admissionFees" [(ngModel)]="admissionFees"  name="admissionFees">
                <br>
                <label>Tution-Fees</label>
                <input type="number" id="tutionFees" [(ngModel)]="tutionFees" name="tutionFees" >
                <br>
                <label>Exam-Fees</label>
                <input type="number" id="examFees" [(ngModel)]="examFees" name="examFees">
                <br>
                <label>Hostel-Fees</label>
                <input type="number" id="hostelFees" [(ngModel)]="hostelFees" name="hostelFees">
                <br>
                <button (click)="updateFees()">Update</button>
    </form>
</div>