<div class="userDetails">
    <form>
        <h1>Student-Information</h1>
        <table aria-describedby="mydesc" class="table">
            <tr>
                <th scope="col">
                    <label>Name</label>
                </th>
                <td>
                    <label id="branch">{{acadData.branch}}</label>

                </td>
            </tr>
            <tr>
                <th scope="col">
                    <label>Branch</label>
                </th>
                <td>
                    <label id="branch">{{acadData.branch}}</label>
                </td>
            </tr>
            <tr>
                <th scope="col">
                    <label>Percentage</label>
                </th>
                <td>
                    <label id="percentage">{{acadData.percentage}}</label>
                </td>
            </tr>
            <tr>
                <th scope="col">
                    <label>Address</label>
                </th>
                <td>
                    <label id="district">{{personaldata.district}}</label>
                </td>

            </tr>
            <tr>
                <th scope="col">
                    <label>Email-ID</label>
                </th>
                <td>
                    <label id="email">{{regData.email}}</label>
                </td>
            </tr>
            <tr>
                <th scope="col">
                    <label>Contact Number</label>
                </th>
                <td>
                    <label id="contactNumber">{{regData.contactNo}}</label>
                </td>
            </tr>

        </table>
        <div class="submit">
            <button type="submit">Update</button>
        </div>

    </form>
</div>