<app-adminpanel></app-adminpanel>
<div class="displayFees">
    <h1>Fees-Structure</h1>
    <table border="1" aria-describedby="mydesc>
        <thead>
            <tr>
                <th id="feesValue">Admission-Fees</th>
                <th id="feesValue">Tution-Fees(Per-Semester)</th>
                <th id="feesValue">Exam-Fees(Per-Paper)</th>
                <th id="feesValue">Hostel-Fees(Per-Semester)</th>
                <th id="feesValue">Action</th>
                <th id="feesValue">Back</th>
            </tr>
        </thead>
        <tbody id="feesTable" *ngFor="let feesObj of this.feesList;">
            <tr name="tablerow">
                <td>{{feesObj.admissionFees}}</td>
                <td>{{feesObj.tutionFees}}</td>
                <td>{{feesObj.examFees}}</td>
                <td>{{feesObj.hostelFees}}</td>
                <td><button (click)="updateFees(feesObj._id,feesObj._rev)">Update</button></td>
                <td><a routerLink="/home"><button type='button'>BACK</button></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>