<div class="userDetails">
    <form>
        <h2>Application-Details</h2>
        <table aria-describedby="mydesc" class="table">
            <tr>
                <th scope="col">
                    <label>Name</label>
                </th>
                <td>
                    <label id="firstName"></label>
                </td>
                <th scope="col">
                    <label>Branch</label>
                </th>
                <td>
                    <label id="branch"></label>
                </td>
            </tr>
            <tr>
                <th scope="col">
                    <label>Percentage</label>
                </th>
                <td>
                    <label id="percentage"></label>
                </td>
                <th scope="col">
                    <label>District</label>
                </th>
                <td>
                    <label id="district"></label>
                </td>

            </tr>
            <tr>
                <th scope="col">
                    <label>Email-ID</label>
                </th>
                <td>
                    <label id="email"></label>
                </td>
                <th scope="col">
                    <label>Contact Number</label>
                </th>
                <td>
                    <label id="contactNumber"></label>
                </td>
            </tr>

        </table>
        <div class="submit">
            <a href="edit.html" id="submit">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" id="submit" onclick="alert('Your Application is Successfully Registered ')"
                value="Next">
        </div>

    </form>
</div>