<div class="back_img">
    <div class="name">
        <img src="assets/images/user.png" alt="UserImage" class="user">
        <h1>Registration Form</h1>
        <form (ngSubmit)="register()">
            <table cellpadding="10">
                <caption></caption>
                <tr>
                    <th>
                        <label for="candidateName">Candidate Name</label>
                    </th>
                    <td>
                        <input type="text" [(ngModel)]="candidateName" name="candidateName" id="name"
                            placeholder="Candidate Name" required autocomplete="off" autofocus>
                    </td>
                </tr>
                <tr>

                    <th>
                        <label for="contactNumber">Mobile Number</label>
                    </th>

                    <td>
                        <input type="tel" id="contact" [(ngModel)]="contactNumber" name="candidateName"
                            placeholder="Mobile number" pattern="[6789][0-9]{9}" required autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <th>
                        Date of Birth
                    </th>
                    <td>
                        <input type="date" [(ngModel)]="dob" name="candidateName" id="dob" name="date" required>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>Email-ID</label>
                    </th>
                    <td>
                        <input type="email" [(ngModel)]="email" name="candidateName" id="email" placeholder="Email-ID"
                            required autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>UserName</label>
                    </th>
                    <td>
                        <input type="text" [(ngModel)]="userName" name="candidateName" id="userName"
                            placeholder="Username" required autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>Password</label>
                    </th>
                    <td>
                        <input type="password" [(ngModel)]="userPassword" name="candidateName" minlength="8"
                            id="userPassword" placeholder="Password" minlength="8" required autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>Confirm Password</label>
                    </th>
                    <td>
                        <input type="password" [(ngModel)]="confirmPassword" minlength="8" id="confirmPassword"
                            name="candidateName" placeholder="Password" required autocomplete="off">
                    </td>
                </tr>
            </table>
            <div class="buttons">
                <input type="reset" id="reset" value="Reset">&nbsp;&nbsp;&nbsp;
                <input type="Submit" id="submit" value="Submit">
            </div>
        </form>
    </div>
</div>