* {
    margin: 0;
    padding: 0;
}

.name {
    background-image: url('image.jpg');
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.name h1 {
    text-align: center;
    text-decoration: underline;
}

.name table {
    width: 500px;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: auto;
    margin-top: 50px;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
}

.submit {
    margin-top: 20px; 
    text-align: center;
}
.name input[type="submit"],
input[type="reset"] {
    border: none;
    outline: none;
    height: 30px;
    background:blue;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 20px;
}

